.shop__wrapper {
    position: fixed;
    display: flex;
    align-items: flex-end;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 500px;
    height: 150px;
    overflow-y: auto;
    overflow-x: scroll;
    background-image: url(../../img/wood_texture_2.png);
    background-size: contain; 
    border: 6px solid rgba(43, 19, 19, 0.549);
    border-radius: 10px;
    transition: all 1s ease-in-out;
}

.shop__wrapper::-webkit-scrollbar {
    display: none;
}


.shop {
    position: absolute;
    max-width: max-content;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    left: 0;
    gap: 10px;
    font-family: 'Press Start 2P', cursive;    
}

.shop__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    padding-bottom: 10px;
    width: 100px;
    height: 100px;
    border-radius: 4px;
    transition: all .3s ease-in-out;
}


.shop__input {
    display: none;
}

.images {
    position: absolute;
    margin: 0 auto;
    width: 80% !important;
    height: 80% !important;
    margin-bottom: 10px;
    transition: all .2s ease-in-out;

}

.shop__input:checked+.shop__item {
    border-bottom: 5px solid rgba(6, 6, 6, 0.518);
    /* box-shadow: 0px 0px 10px 2px rgba(83, 83, 83, 0.545); */
}

.shop__item-info {
    position: absolute;
    opacity: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    top: -1.4em;
    font-size: 10px;
    font-family: 'VT323', monospace;
    font-weight: normal;
    color: white;
    z-index: 5;
}

.shop__item-active {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 170px;
    left: 0;
    right: 0;
    max-width: 500px;
    margin: 0 auto;
    font-family: 'Press Start 2P', cursive;
    font-weight: normal;
    color: white;
    z-index: 5;
}

.shop__item-active div {
    font-size: 10px;
}

.item__box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../img/item_box.png);
    background-size: cover;
    transition: all .2s ease-in-out;
}


.shop__input:checked+.shop__item .shop__item-info {
    opacity: 1;
}

.shop__input:checked+.shop__item .images {
    transform: translateY(-15px);
}

.shop__input:checked+.shop__item .item__box {
    transform: scale(1.15) translateY(-6px);
}

.shop__item-alert {
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../../img/block.png);
    background-size: cover;
}





@media (max-width: 500px) {
    .shop__wrapper {
        max-width: 300px;
    height: 110px;

    }

    .shop__item {
        width: 80px;
        height: 80px;
    }

    .shop__item-info {
        font-size: 1em;
    }

    .shop__item-active {
        width: 300px;
        bottom: 125px;
        font-size: 20px;
    }
}