.barn {
    display: flex;
    padding: 15px;
    margin: 30px auto 80px;
    margin-bottom: 120px;
    max-width: 500px;
    flex-wrap: wrap;
    gap: 10px;
}

.barn__square,
.barn__square-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background-image: url(../../img/barn_square_2.png);
    background-size: cover;
    transition: all .3s ease-in-out;
}

.barn__square-empty {
    background-image: url(../../img/barn_square_non.png);
}

.chicken {
    width: 70%;
    height: 70%;
    background-image: url(../../img/chicken_1.png);
    background-size: cover;
}

.pig {
    width: 100%;
    height: 100%;
    background-image: url(../../img/pig.png);
    background-size: cover;

}

.cow {
    width: 100%;
    height: 100%;
    background-image: url(../../img/cow.png);
    background-size: cover;

}

.cat {
    width: 60%;
    height: 60%;
    background-image: url(../../img/cat.png);
    background-size: cover;
}

.dog {
    width: 80%;
    height: 80%;
    background-image: url(../../img/dog.png);
    background-size: cover;
}

.sheep {
    width: 80%;
    height: 80%;
    background-image: url(../../img/sheep.png);
    background-size: cover;
}

.lama {
    width: 80%;
    height: 80%;
    background-image: url(../../img/lama.png);
    transform: translateY(-5px);
    background-size: cover;
}

.pet-animation {
    animation: skewer 4s ease-in-out infinite;
}

@keyframes skewer {
    0% {
        transform: skewX(.02rad) translateX(-1px);
    }

    50% {
        transform: skewX(-.01rad) translateX(1px);
    }

    100% {
        transform: skewX(.02rad) translateX(-1px);
    }
}

@media (max-width: 500px) {
    .barn {
        max-width: 300px;
        padding: 15px;
    }

    .barn__square,
    .barn__square-empty {
        width: 80px;
        height: 80px;
    }
}