.friends_window {
    position: absolute;
    padding: 40px;
    width: 80%;
    height: 600px;
    background-image: url('../../img/bg/bg_window_friends.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    color: rgb(255, 255, 255);
    font-family: 'Press Start 2P', cursive;
    /* font-size: 1em; */
    text-align: center;

}

.friends_window-close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 32px;
    height: 32px;
    background-image: url('../../img/icons/close_btn.png');
    background-size: contain;
    border: none;
    background-color: rgba(255, 0, 0, 0);
}

.friends_window-title {
    font-size: 1.5em;
}

.friends_window-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.friends_window-list__item {
    display: flex;
    width: 100%;
    height: 50px;
    padding: 3px;
    margin-top: 5px;
    border: 2px solid rgb(67 39 32);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    background-color: #d3984d;
}

.friends_window-list__item-name {
    display: block;
    height: max-content;
    font-size: .8rem;
    
    text-align: center;
}

.friends_window-search>input {
    font-family: 'Press Start 2P', cursive;
    color: white;
    width: 100%;
    background: none;
}

.friends_window-search>button {
    font-family: 'Press Start 2P', cursive;
    color: #757575;
}

.friends_window-search {
    display: flex;
    width: 100%;

    flex-direction: row;

}

.friends_window-btn_add {
    width: 2rem;
    height: 2rem;
    text-align: center;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-image: url('./../../img/icons/add_btn.png');
    background-size: contain;
    border: none;
    background-color: #75757500;
}

.friends_window-btn_del {
    width: 2rem;
    height: 2rem;
    text-align: center;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 0;
    background-image: url('./../../img/icons/del_btn.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.friends_window-list__item-img {
    width: 40px;
    height: 40px;
    /* background-image: url('../../img/icons/icon_friends.png'); */
    background-size: contain;
    border: 2px solid rgb(67 39 32);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border-radius: 50%; */
    margin-right: 10px;
}