.friends_window {
    position: absolute;
    padding: 40px;
    width: 80%;
    height: 600px;
    background-image: url('../../img/bg/bg_window_friends.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    color: rgb(255, 255, 255);
    font-family: 'Press Start 2P', cursive;
    /* font-size: 1em; */
    text-align: center;
    

}
.friends_window-title {
    font-size: 1.5em;
}

.friends_window-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.friends_window-list__item {
    display: flex;
    width: 90%;
    height: 50px;
    padding: 5px;
    margin-top: 5px;
    border: 2px solid rgb(67 39 32);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.friends_window-list__item-name {
    display: block;
    height: 20px;
}

.friends_window-search > input {
    font-family: 'Press Start 2P', cursive;
    color: white;
    width: 100%;
    background: none;
    margin-right: 10px;
}

.friends_window-search {
    display: flex;
    width: 20rem;
    flex-direction: row;
    
}

.friends_window-btn_add {
    width: 2rem;
    height: 2rem;
    text-align: center;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}
.friends_window-btn_del {
    width: 2rem;
    height: 2rem;
    text-align: center;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}