@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.header {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    color: rgb(255, 255, 255);
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    max-width: 500px;
    font-size: 1em;
    font-weight: normal;
}

.header__stat {
    position: fixed;
    padding: 0 15px;
    left: 0;
    right: 0;
    top: 20px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    height: max-content;
    display: flex;
    z-index: 10;

}

.money {
    position: relative;
    text-align: center;
    position: relative;
    margin-left: .6em;
}

.money::after {
    content: '';
    position: absolute;
    text-align: center;
    top: 0;
    left: -1.2em;
    width: 1em;
    height: 1em;
    background-image: url(../../img/money.png);
    background-size: cover;
}

.barn__icon {
    width: 200px;
    height: 200px;
    background-image: url(../../img/barn.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.pond__icon {
    width: 200px;
    height: 200px;
    background-image: url(../../img/pond_icon.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.tractor {
    width: 200px;
    height: 200px;
    background-image: url(../../img/tractor.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 0 35px;
}

.btn__menu {
    font-family: 'Press Start 2P', cursive;
    background-color: transparent;
    background-image: url(../../img/menu_icon.png);
    background-size: cover;
    width: 2em;
    height: 2em;
    border: none;
    /* border: 2px rgba(59, 7, 7, 0.575) solid; */
    color: white;
    padding: 5px 7px;

}

.btn__sound {
    background-image: url(../../img/sound_icon.png);
    background-size: cover;
    width: 2em;
    height: 2em;
    transition: all .4s ease-in-out;
}

.no-active {
    filter: opacity(40%);
}

.no-active::after {
    content: '';
    position: absolute;
    display: block;
    transform: rotate(45deg);
    top: 50%;
    width: 32px;
    height: 2px;
    background-color: azure;
}


@media (max-width: 540px) {
    .header {
        max-width: 300px;
        height: 40px;
        font-size: 40px;
        margin-top: 40px;
    }

    .barn__icon, .tractor, .pond__icon {
        width: 100px;
        height: 100px;
        filter: drop-shadow(1px 2px 1px rgba(11, 11, 11, 0.176));
    }

    .pond__icon {
        transform: translateY(3px);
    }

    .tractor {
        background-position: 0 12px;
    }

    .header__stat {
        max-width: 320px;
        font-size: 10px;
        top: 10px;
    }

    .btn__menu {
        width: 1.4em;
        height: 1.3em;
    }

    .no-active::after {
        width: 20px;
        height: 1px;
    }
}

