.garden {
  display: flex;
  margin: 30px auto 80px;
  margin-bottom: 120px;
  max-width: 520px;
  flex-wrap: wrap;
  gap: 5px;
  background-color: #389f5f;
  /* box-shadow: 0px 0px 10px rgb(46, 26, 1); */
}

@media (max-width: 500px) {
  .garden {
    max-width: 300px;
  }
}